body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: hsl(214, 17%, 92%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 601px) {
  body {
    display: grid;

   }

  .testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
   
  }

  .testimonials img {
    border-radius: 50%;
    border: 3px solid hsl(0, 0%, 100%);
  }

  .testimonial1 {
    background-color: hsl(263, 55%, 52%);
    padding: 30px;
    border-radius: 10px;
    color:hsl(0, 0%, 100%);
    height: 200px;
    width: 500px;
  }

  .testimonial2{
    background-color: hsl(217, 19%, 35%);
    padding: 30px;
    border-radius: 10px;
    color:hsl(0, 0%, 100%)
  }

  .testimonial3{
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 10px;
    height: 100%;
  }

  .testimonial4{
    background-color: hsl(0, 0%, 81%);
    padding: 30px;
    border-radius: 10px;
  }

  .testimonial5{
    background-color: hsl(0, 0%, 7%);
    padding: 30px;
    border-radius: 10px;
    color:hsl(0, 0%, 100%)
  }
}

@media (max-width: 600px) {
    .testimonials {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px;
    }

    .testimonials img {
    border-radius: 50%;
    border: 3px solid hsl(0, 0%, 100%);
  }

  .testimonial1 {
    background-color: hsl(263, 55%, 52%);
    padding: 30px;
    border-radius: 10px;
    color:hsl(0, 0%, 100%);
    width: 300px;
    height: auto;
  }

  .testimonial2{
    background-color: hsl(217, 19%, 35%);
    padding: 30px;
    border-radius: 10px;
    color:hsl(0, 0%, 100%);
    width: 300px;
    height: auto;
  }

  .testimonial3{
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 10px;
    height: 100%;
    width: 300px;
    height: auto;
  }

  .testimonial4{
    background-color: hsl(0, 0%, 81%);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    height: auto;
  }

  .testimonial5{
    background-color: hsl(0, 0%, 7%);
    padding: 30px;
    border-radius: 10px;
    color:hsl(0, 0%, 100%);
    width: 300px;
    height: auto;
  }
}