body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: hsl(214, 17%, 92%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 601px) {
  body {
    font-size: 13px;
   }

  .testimonials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
    margin-top: 50px;
  }

  .photo-and-name {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
  }

  .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
  }

  .name h4 {
    margin: 0;
    line-height: 1.1;
    
  }

  .name p {
    margin: 0;
    line-height: 1;
  }

  .testimonials img {
    display: block;
    border-radius: 50%;
    border: 2px solid hsl(264, 82%, 80%);
    width: 30px;
    height: 30px;
  }

  .testimonial1 {
    grid-column: 1 / 3;
    background-color: hsl(263, 55%, 52%);
    padding: 30px;
    border-radius: 10px;
    color:hsl(0, 0%, 100%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
  }

  .testimonial2{
    grid-column: 3 / 4;
    background-color: hsl(217, 19%, 35%);
    padding: 30px;
    border-radius: 10px;
    color:hsl(0, 0%, 100%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
  }

  .testimonial3{
    grid-column: 1 / 2;
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 10px;
    color: hsl(224, 10%, 45%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
  }

  .testimonial4{
    grid-column: 2 / 4;
    background-color: hsl(0, 0%, 7%);
    color:hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
  }

  .testimonial5{
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 10px;
    color:hsl(224, 10%, 45%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
  }

}

@media (max-width: 600px) {
  .testimonials {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 10px;
  }

  .photo-and-name {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
  }

  .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
  }

  .name h4 {
    margin: 0;
    line-height: 1.1;
    
  }

  .name p {
    margin: 0;
    line-height: 1;
  }

  .testimonials img {
    border-radius: 50%;
    border: 2px solid hsl(264, 82%, 80%);
    width: 30px;
    height: 30px;
  }

    .testimonial1 {
      background-color: hsl(263, 55%, 52%);
      padding: 20px;
      border-radius: 10px;
      color:hsl(0, 0%, 100%);
      width: 280px;
      height: auto;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

  .testimonial2{
    background-color: hsl(217, 19%, 35%);
    padding: 20px;
    border-radius: 10px;
    color:hsl(0, 0%, 100%);
    width: 280px;
    height: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .testimonial3{
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 10px;
    color: hsl(224, 10%, 45%);
    height: 100%;
    width: 280px;
    height: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .testimonial4{
    background-color: hsl(0, 0%, 7%);
    padding: 20px;
    border-radius: 10px;
    color:hsl(0, 0%, 100%);
    width: 280px;
    height: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .testimonial5{
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 10px;
    color: hsl(224, 10%, 45%);
    width: 280px;
    height: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
}